{% load static %} 

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'estilos/estilos.css' %}">

    <title>Formulario</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap" rel="stylesheet">

</head>

<body>

    <section class="main">

        <figure class="main__figure">
            <img src= "{% static 'img/Logo de Programando Paraguay1.png' %}" class="main__img">
        </figure>

        <div class="main__contact">

            <h2 class="main__title">Lastimosamente no fuiste seleccionado para
                 ser parte de este bootcamp, pero no te preocupes, que tendras
                  otra oportunidad en el siguiente.</h2>

        

        </div>

    </section>



</body>

</html>